/* MODAL DE FOTO */
#photoModal .modal-content {
    background: #0f0717;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    border: 2px solid #7c3aed;
}

#photoModal h2 {
    color: white;
    margin-bottom: 20px;
}

#photoInput {
    background: #2e1065;
    border: 1px solid #7c3aed;
    border-radius: 8px;
    padding: 10px;
    color: white;
    margin: 15px 0;
    width: 100%;
}

.photo-preview {
    margin: 20px 0;
}

.photo-preview img {
    max-width: 100%;
    border-radius: 10px;
}

.send-photo-btn {
    padding: 12px 25px;
    background: linear-gradient(135deg, #7c3aed, #4c1d95);
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.send-photo-btn:hover {
    transform: scale(1.02);
}

.close-modal {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #a78bfa;
}